<!-- header -->

<!-- navbar -->
<nav class="navbar bg-success">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">
        <img src="https://media.tenor.com/yQPfHp6AmGgAAAAC/money-with-wings-joypixels.gif" alt="Logo" width="30"
          height="24" class="d-inline-block align-text-top">
        CSB
      </a>
    </div>
  </nav>
<div class="container">
    <div class="row text-center">
<img width="100px" height="300px" src="https://miro.medium.com/v2/resize:fit:1400/1*zE2qnVTJehut7B8P2aMn3A.gif" alt="">
<h5>Website content has been removed....</h5>
<p>Page Not Found</p>
<div>
<button routerLink="" class="btn btn-success m-3">Back to site</button>  
</div>  
</div>
</div>

<!-- footer -->

<footer class="bg-success text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn text-white btn-floating m-1" style="background-color: #3b5998;" href="#!" role="button"><i
            class="fab fa-facebook-f"></i></a>
  
        <!-- Twitter -->
        <a class="btn text-white btn-floating m-1" style="background-color: #55acee;" href="#!" role="button"><i
            class="fab fa-twitter"></i></a>
  
        <!-- Google -->
        <a class="btn text-white btn-floating m-1" style="background-color: #dd4b39;" href="#!" role="button"><i
            class="fab fa-google"></i></a>
  
        <!-- Instagram -->
        <a class="btn text-white btn-floating m-1" style="background-color: #ac2bac;" href="#!" role="button"><i
            class="fab fa-instagram"></i></a>
  
        <!-- Linkedin -->
        <a class="btn text-white btn-floating m-1" style="background-color: #0082ca;" href="#!" role="button"><i
            class="fab fa-linkedin-in"></i></a>
        <!-- Github -->
        <a class="btn text-white btn-floating m-1" style="background-color: #333333;" href="#!" role="button"><i
            class="fab fa-github"></i></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="#">csb.com</a>
    </div>
    <!-- Copyright -->
  </footer>